# Supabase
SUPABASE_URL=https://gyhihuovussdauehmeuk.supabase.co
SUPABASE_ANON_KEY=your_anon_key_here
SUPABASE_SERVICE_ROLE_KEY=your_service_role_key_here

# SIMPLE API
SIMPLE_API_BASE_URL=https://tramites.slepvalparaiso.gob.cl
SIMPLE_API_TOKEN=your_simple_token_here

# App
APP_ENV=development
